<h1 class="text-center mt-3">category.title</h1>
<div class="mt-3 col-md-6 offset-md-3">
    <div class="text-center">
        <%= link_to "New Words", new_admin_category_word_path, class: "btn btn-outline-info"%>
        <table class="table table-bordered mt-4" style="border-collapse: collapse;">
            <tr>
                <th class="words">Words</th>
                <th class="answer">Answer</th>
                <th class="settings">Settings</th>
            </tr>
        </table>
    </div>

    <div class="mt-4">	
        <%= link_to "Back", admin_categories_path, class: "link" %>
    </div>
</div>