<div class="row">
    <div class="col-md-3 p-5 mx-auto text-center">	
        <p>image</p>

        <div>
            <%= @user.name %>
        </div>

        <hr style="width: 200px;">

        <div class="d-inline-block pr-2 mt-2">
            <p>Following</p>
        </div>
        <div class="d-inline-block pl-2 mt-2">
            <p>Followers</p>
        </div>

        <div class="mt-2">
            <%= button_to "Edit Profile", root_path, class: "btn btn-info btn-settings" %>
            <div class="mt-2">
                <%= button_to "Administration", root_path, class: "btn btn-outline-info btn-settings" %>
            </div>
        </div>
    </div>

    <div class="col-md-9 p-5 text-center">
        <h1 class="title">Activities</h1>			
    </div>
</div>
